= form_with(model: vendor, local: true) do |form|
  - if vendor.errors.any?
    #error_explanation
      h2
        = pluralize(vendor.errors.count, "error")
        |  prohibited this vendor from being saved:
      ul
        - vendor.errors.full_messages.each do |message|
          li
            = message

  .field.form-group
    = form.label :name, class: 'control-label'
    = form.text_field :name, class: 'form-control'

  .field.form-group
    = form.label :template, class: 'control-label'
    = form.text_area :template, rows: 15, class: 'form-control text-monospace'

  = form.submit class: 'btn btn-default'
