- flash.each do |key, val|
  .alert.alert-dismissible.fade.show class="alert-#{key}"
    = val
    button.close data-dismiss="alert"
      span &times;

.row
  - Vendor.order(:name).each do |vendor|
    .col-lg-4.my-2
      = link_to vendor_path(vendor), style: 'text-decoration: none;'
        .card.shadow-sm
          .card-body
            h5.card-title.text-dark
              i.fas.fa-network-wired
              =< vendor.name.downcase
            pre.codepre.bg-dark.text-light.rounded.p-2 style='height: 10em; overflow: hidden;'
              = vendor.template

  .col-lg-4.my-2
    = link_to new_vendor_path, style: 'text-decoration: none;'
      .card.shadow-sm
        .card-body
          h5.card-title.text-muted
            i.fas.fa-plus
            |  add new vendor
          pre.codepre.bg-secondary.text-light.rounded.p-2 style='height: 10em; overflow: hidden;'
            |
              timeout 10
              prompt /> \z/

              login do |username, password|
                waitfor(/Username: /) && puts(username)
                waitfor(/Password: /) && puts(password)
