- flash.each do |key, val|
  .alert.alert-dismissible.fade.show class="alert-#{key}"
    = val
    button.close data-dismiss="alert"
      span &times;


.float-right
  .btn-toolbar
    .btn-group.mr-2
      = link_to edit_vendor_path(@vendor), class: 'btn btn-sm btn-dark'
        i.fas.fa-edit
        |  Edit
    .btn-group.mr-2
      = link_to vendor_path(@vendor), method: 'delete', data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-dark'
        i.far.fa-trash-alt
        |  Delete

h4.my-4
  i.fas.fa-network-wired
  =< @vendor.name

pre.bg-dark.text-light.rounded.p-4.my-4
  .code = @vendor.template


h4.my-4
  i.fas.fa-question-circle
  |  usage

pre.bg-dark.text-light.rounded.p-4.my-4
  .code
    |
      $ curl -H 'Content-type: application/json' -X POST #{vendor_actions_url(@vendor)} \
             -d '{"xlogin": {"scheme": "telnet", "userinfo": "admin:admin", "host": "192.168.1.1"}, "command": "ping 192.168.1.2"}'


- unless @actions.empty?
  h4.mt-5
    i.fas.fa-history
    |  history

  .list-group.my-4
    - @actions.each do |action|
      .list-group-item
        dl.row.mb-0
          dt.col-lg-1.text-monospace Request:
          dd.col-lg-11
            code = action.request
          dt.col-lg-1.text-monospace Response:
          dd.col-lg-11
            code = action.response
        small.float-right.text-muted
          | #{time_ago_in_words(action.created_at)} ago
  = paginate @actions
